@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.center {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

.justify{
    text-align: justify;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  display: flex;
  flex-flow: row;
  background-color: #2f3542;
  justify-content: center;
  align-items: center;  
  margin: 50px;
  padding: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#menu li {
  display: inline;
  padding: 15px;
  float: right;
  font-family: 'IBM Plex Mono', monospace;
}

#menu li a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  
}

#menu li a:hover {
  color: crimson;
}

.p-30 {
  padding: 30px;
}

.br-50 {
  border-radius: 50%;
}

.wh-400 {
  width: 400px;
  height: 400px;
  padding: 30px;
}

.tm-social{
    width: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}

.txt-style{
    font-family: 'Architects Daughter', cursive;
    font-size: 15pt;
    
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}